.header-container {
    background: white;
    padding: 2vh 7vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.3vh solid #d1cdcd;
}
.login-form-modal {
    position: fixed; // Позиционируем элемент относительно окна браузера
    top: 50%; // Позиционируем элемент по центру по вертикали
    left: 50%; // Позиционируем элемент по центру по горизонтали
    transform: translate(-50%, -50%); // Смещаем элемент на половину его ширины и высоты назад, чтобы центр элемента совпадал с центром экрана
    z-index: 1000; // Устанавливаем z-index выше, чтобы элемент был поверх остального контента
}

.logo-container {
    box-sizing: border-box;
    display: block;
    width: 80px;
    max-width: initial;
    height: 80px;
}

.search-container {
    position: relative;
    flex: 0 0 50vw;
    border: 0.1vh solid rgba(209, 205, 205, 1);
    border-radius: 40vw;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3.75vh;
    padding-left: 3.25vw;
    box-shadow: 0 0.4vh 0.4vh rgba(0, 0, 0, 0.25);
}

.search-container input {
    border: none;
}

.search-container input:focus {
    outline: none;
}

.search-container img {
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vh;
}

.search-container.visible {
    display: flex;
}

.search-heading {
    flex: 0 0 auto;
    font: 700 2.4vh "Inter", sans-serif;
    color: rgba(177, 176, 176, 1);
    white-space: pre-wrap;
}

.svg-container {
    flex: 0 0 60vw;
    display: flex;
    width: 2vw;
    height: 2vh;
    color: rgba(168, 165, 163, 1);
}
.auth-form{
    display: flex;
}
.login-button-container {
    text-decoration: none;
    flex: 0 0 15vw;
    border-radius: 1.25vh;
    background: rgba(30, 30, 30, 1);
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-right: 2.3125vw;
    padding-left: 2.3125vw;
    height: 5vh;
    width: 10vw;
    text-align: center;;
}
.logout-button-container{;
    border-radius: 1.25vh;
    background: rgba(30, 30, 30, 1);
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-right: 2.3125vw;
    padding-left: 2.3125vw;
    height: 5vh;
    width: 10vw;

}

.login-heading-text-style {
    flex: 0 0 auto;
    font: 700 var(--font-size-2vh) "Inter", sans-serif;
    color: var(--color-white);
    white-space: pre-wrap;
}
